apiVersion: v1
kind: Pod
metadata:
  namespace: {{ name_space }}
  name: {{ pod_name }}
  annotations: {% if not use_secondary_network %}
    v1.multus-cni.io/default-network: {{ default_network }} {% else %}
    k8s.v1.cni.cncf.io/networks: {{ secondary_network_nad }} {% endif %}
  labels:
    tft-tests: "{{ index }}"
    tft-port: "{{ port }}"
spec:
  nodeSelector:
    kubernetes.io/hostname: {{ node_name }}
  containers:
  - name: {{ pod_name }}
    image: {{ test_image }}
    command: {{ command }}
    args: {{ args }}
    imagePullPolicy: {{ image_pull_policy }}
