clusters:
  - name : "ocpcluster"
    api_vip: "192.168.122.99"
    ingress_vip: "192.168.122.101"
    kubeconfig: "/root/kubeconfig.ocpcluster"
    version: "4.16.0-nightly"
    network_api_port: "eno12399"
    postconfig:
    - name: "dpu_operator_host"
      dpu_operator_path: "../../"
      rebuild_dpu_operators_images: "false"
      ipu_plugin_sha: "81c6a0e9fe8cefee4cdac88a6a20bbc6b81e0df3"
      builder_image: "wsfd-advnetlab-amp04.anl.eng.bos2.dc.redhat.com:5000/ocp/builder:rhel-9-golang-1.22-openshift-4.18"
      base_image: "wsfd-advnetlab-amp04.anl.eng.bos2.dc.redhat.com:5000/ocp/4.18:base-rhel9"
    masters:
    - name: "nicmodecluster-master-1"
      kind: "vm"
      node: "localhost"
      ip: "192.168.122.2"
      disk_size: 32
    - name: "nicmodecluster-master-2"
      kind: "vm"
      node: "localhost"
      ip: "192.168.122.3"
      disk_size: 32
    - name: "nicmodecluster-master-3"
      kind: "vm"
      node: "localhost"
      ip: "192.168.122.4"
      disk_size: 32
    workers:
    - name: "worker-{{worker_number(0)}}"
      kind: "physical"
      node: "{{worker_name(0)}}" 
      bmc_user: "root"
      bmc_password: "calvin"
      bmc: "{{bmc(0)}}"
